<div ng-include="'views/header.html'"></div>

<table>
    <tr>
        <td>Track:</td>
        <td>{{ tracks[report.track].circuit }}</td>
        <td>
            <ul class="selectTrack">
                <li ng-repeat="track in tracks | orderBy: track.id">
                    <a ng-click="selectTrack(track.id)">{{ track.circuit }} ({{ track.miles }})</a>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Race Number:</td>
        <td><input ng-model="numberOfRaces" readonly /></td>
    </tr>
    <tr>
        <td>Date:</td>
        <td><input ng-model="report.date"/></td>
    </tr>
    <tr>
        <td>Number of Laps:</td>
        <td><input ng-model="report.laps"/></td>
    </tr>
    <tr>
        <td>Car Class:</td>
        <td>
            <select ng-model="report.carClass">
                <option>D</option>
                <option>C</option>
                <option>B</option>
                <option>A</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Fastest Lap:</td>
        <td>
            <select ng-model="report.fastestLapDriver" ng-options="driver.name for driver in drivers">
                <option value="">Non-league member</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Result:</td>
        <td>
            <ol>
                <li ng-repeat="result in report.result">
                    <select ng-model="result.driver" ng-options="driver.name for driver in drivers">
                        <option value="">Non-league member</option>
                    </select>
                </li>
                <a ng-click="report.result.push({'finishPos': report.result.length, 'driver': ''})">+</a>
            </ol>
        </td>
    </tr>
</table>

<a ng-click="submitRaceReport(report)">Submit race report</a>

<div class="footer">
</div>
