<div ng-include="'views/header.html'"></div>

<div ng-hide="loggedIn">
    <input type="text" ng-model="userEmail" placeholder="Email" />
    <input type="password" ng-model="userPassword" placeholder="Password" />
    <input type="submit" ng-click="login(userEmail, userPassword)" />
</div>
<div ng-show="loggedIn">
    <a ng-click="logout()">Log out</a>
</div>
<br />
<div>
    <a ng-click="setupTrackVote()"> Setup Track Vote</a>
</div>
<br />

<table>
    <tr>
        <td>Track:</td>
        <td>
            <select ng-model="report.track" ng-options="track.circuit group by track.country for track in tracks"></select>
        </td>
    </tr>
    <tr>
        <td>Race Number:</td>
        <td>{{ report.id }}</td>
    </tr>
    <tr>
        <td>Date:</td>
        <td>{{ report.publishedDate | date:'medium' }}</td>
    </tr>
    <tr>
        <td>Number of Laps:</td>
        <td><input ng-model="report.laps"/></td>
    </tr>
    <tr>
        <td>Car Class:</td>
        <td>
            <select ng-model="report.carClass">
                <option>D</option>
                <option>C</option>
                <option>B</option>
                <option>A</option>
                <option>S</option>
                <option>R</option>
                <option>P</option>
                <option>X</option>
                <option>Open</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Fastest Lap:</td>
        <td>
            <select ng-model="report.fastestLapDriver" ng-options="driver.name for driver in drivers">
                <option value="">Non-league member</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Result:</td>
        <td>
            <ol>
                <li ng-repeat="result in report.result">
                    <select ng-model="result.driver" ng-options="driver.name for driver in drivers">
                        <option value="">Non-league member</option>
                    </select>
                </li>
                <a ng-click="report.result.push({'finishPos': report.result.length, 'driver': ''})">+</a>
            </ol>
        </td>
    </tr>
</table>

<a ng-click="submitRaceReport(report)">Submit race report</a>
<br /><br />
<div class="footer">
</div>
