<table>
    <tr>
        <th></th>
        <th>Date</th>
        <th>Assists</th>
        <th>Perf Index</th>
        <th>Time</th>
        <th>Clean</th>
    </tr>
    <tr ng-repeat="result in results">
        <td>{{ result.GamerTag }}</td>
        <td>{{ result.Date.replace('/Date(', '').replace(')/', '') | date: 'longDate'}}</td>
        <td>
            <span ng-show="result.UsedABS">ABS</span>
            <span ng-show="result.UsedAutoBrake">AutoBrake</span>
            <span ng-show="result.UsedAutoShifting">AutoShift</span>
            <span ng-hide="result.UsedClutch">AutoClutch</span>
            <span ng-show="result.UsedSTM">STM</span>
            <span ng-show="result.UsedTCS">TCS</span>
        </td>
        <td>{{ result.PerformanceIndex }}<br /></td>
        <td>{{ result.ScoreTime }}</td>
        <td>{{ result.IsClean }}</td>
    </tr>
</table>
