<div ng-include="'views/header.html'"></div>

<div class="jumbotron">
    Race 1 - Class A: Indianapolis Motor Speedway Grand Prix Circuit (2.61 miles)<br />
    Race 2 - Class B: Silverstone Racing Circuit Silverstone International Circuit (2.25 miles)<br />
    Race 3 - Class C: Sebring International Raceway Club Circuit (1.7 miles)<br />
    Race 4 - Class B: Long Beach West Route<br />
</div>

<!-- div fl-leaderboard fl-title="'Le Mans Old TT Class A'" fl-type="'a'" fl-location="'8'" fl-track="'101'"></div-->

<h2>Standings</h2>
<table>
    <tr>
        <th></th>
        <th></th>
        <th>Driver</th>
        <th>Races</th>
        <th>Wins</th>
        <th>Podiums</th>
        <th>Fastest Laps</th>
        <th>Penalty Points</th>
        <th>Points</th>
    </tr>
    <tr ng-repeat="driver in standings | orderBy: '-points'">
        <td>{{ $index + 1 }}</td>
        <td><img ng-src="http://avatar.xboxlive.com/avatar/{{ driver.gamertag }}/avatarpic-s.png"/></td>
        <td><a href="/#/driver/{{driver.id}}">{{ driver.name }}</a></td>
        <td>{{ driver.races }}</td>
        <td>{{ driver.wins }}</td>
        <td>{{ driver.podiums }}</td>
        <td>{{ driver.fastestLaps }}</td>
        <td></td>
        <td>{{ driver.points }}</td>
    </tr>
</table>

<div class="footer">
</div>

