<div ng-include="'views/header.html'"></div>

<div class="jumbotron">
    Race 1 - Class B: Yas Marina South Circuit {{ 15/1.47 | number: 0 }} Laps (1.47 miles)<br />
    Race 2 - Class D: Test Track Airfield Drag (0.5 miles)<br />
    Race 3 - Class A: Prague Full Reverse {{ 15/3.51 | number: 0 }} (3.51 Miles)<br />
    Race 4 - Class B: {{ 15/3.51 | number: 0 }}<br />
</div>

<!-- div fl-leaderboard fl-title="'Le Mans Old TT Class A'" fl-type="'a'" fl-location="'8'" fl-track="'101'"></div-->

<h2>Standings</h2>
<table>
    <tr>
        <th></th>
        <th></th>
        <th>Driver</th>
        <th>Races</th>
        <th>Wins</th>
        <th>Podiums</th>
        <th>Fastest Laps</th>
        <th>Penalty Points</th>
        <th>Points</th>
    </tr>
    <tr ng-repeat="driver in standings | orderBy: '-points'">
        <td>{{ $index + 1 }}</td>
        <td><img ng-src="http://avatar.xboxlive.com/avatar/{{ driver.gamertag }}/avatarpic-s.png"/></td>
        <td><a href="/#/driver/{{driver.id}}">{{ driver.name }}</a></td>
        <td>{{ driver.races }}</td>
        <td>{{ driver.wins }}</td>
        <td>{{ driver.podiums }}</td>
        <td>{{ driver.fastestLaps }}</td>
        <td></td>
        <td>{{ driver.points }}</td>
    </tr>
</table>

<div class="footer">
</div>

