<div ng-include="'views/header.html'"></div>

<div class="jumbotron">
    <h1>Time Trials</h1>
    To set a lap go to 'Forza Home' > 'Rivals' > [Car Cat] > [Track]<br /><br />

    Track 1 (Class C): Prague Full<br/>
    Track 2 (Class B): Barcelona Full<br/>
    Track 3 (Class A): Top Gear Full<br/><br />

    Clean laps rank higher than dirty laps. Final results will be as of Monday at 22:00.
</div>

<h2>Standings</h2>
<table>
    <tr>
        <th></th>
        <th></th>
        <th>Driver</th>
        <th>Wins</th>
        <th>Podiums</th>
        <th>Fastest Laps</th>
        <th>Penalty Points</th>
        <th>Points</th>
    </tr>
    <tr ng-repeat="driver in standings | orderBy: '-points'">
        <td>{{ $index + 1 }}</td>
        <td><img ng-src="http://avatar.xboxlive.com/avatar/{{ driver.gamertag }}/avatarpic-s.png"/></td>
        <td><a href="/#/driver/{{driver.id}}">{{ driver.name }}</a></td>
        <td>{{ driver.wins }}</td>
        <td>{{ driver.podiums }}</td>
        <td>{{ driver.fastestLaps }}</td>
        <td></td>
        <td>{{ driver.points }}</td>
    </tr>
</table>

<div class="footer">
</div>

