<div ng-include="'views/header.html'"></div>

	<strong>Date:</strong> {{ report.date }}
	<br />	
	<strong>Laps:</strong> {{ report.laps }}
	<br />
	<strong>Distance:</strong> {{ report.laps * tracks[report.track].miles }} miles
	<br />
	<strong>Circuit:</strong> {{ tracks[report.track].circuit }} ({{ tracks[report.track].city }}, {{ tracks[report.track].country }})
	<br />
	<ol>
		<li ng-repeat="result in report.result">
			<img ng-src="http://avatar.xboxlive.com/avatar/{{ result.driver.gamertag }}/avatarpic-s.png" />
			{{ result.driver.name }}
		</li>
	</ol>

<div class="footer">
</div>

