<div ng-include="'views/header.html'"></div>
<div>
    <h1>Championship Rules</h1>

    <h3>Race Sessions</h3>
    Sessions are on Monday evenings starting at 9pm.
    <br/><br/>

    We will complete at least one race in a session but can continue until the first person decides to withdraw for the
    evening. All subsequent races that evening will be non-championship events.

    <h3>Championship Race Points Awarded</h3>
    <ol>
        <li>10 points</li>
        <li>&nbsp;8 points</li>
        <li>&nbsp;6 points</li>
        <li>&nbsp;4 points</li>
        <li>&nbsp;2 points</li>
        <li>&nbsp;1 point</li>
    </ol>

    <h3>Aggressive Driving and Penalties</h3>
    Excessive aggressive driving will be reported to the race steward (‘Xbox Record That’) for review with possible
    disqualification or championship points deducted. The race steward may request a live stream from each driver via
    Twitch (‘Xbox Broadcast’).
    <br/><br/>

    <h3>Game Settings</h3>
    Damage will be on Simulation.
    <br/><br/>

    Assisted braking is agreed to be turned off, but this is based on sportsmanship as there is no real way of telling.
    <br/><br/>

    Racing line should be turned off.
    <br/><br/>
</div>

<div class="footer">
</div>